body{
    background: #5d2d3c;
}

.title{
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
    color: #ebbac2;
    border: 2px solid #ebbac2;
}



h2 , h3{
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
    color: #ebbac2;
}


.noticias{
    text-align: justify;
}

.paragrafo{
    text-align: justify;
    margin: 100px;
    border-left: 70px;
    border-right: 70px;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.afropaty{
    font: bold;
    color: #ebbac2;
    font-family: sans-serif;
}


a{
    font-family: serif;
    font-weight: bold;
    color: #ebbac2;
    font: size 5px; ;
}

a:hover{
    color: #ed0000;
}


p{
    font: bold;
    color: #ebbac2;
    font-family: sans-serif;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prodprin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.prod {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.prod img {
    width: 300px;
    height: 300px;
    object-fit: cover; 
}
.link {
    color: blue;
    text-decoration: none;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

