body{
    background: #5d2d3c;
}

.title{
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
    color: #ebbac2;
    border: 5px solid #ebbac2;
}

.moda{
    font-family: serif;
    font-weight: bold;
    color: #ebbac2;
}

h2{
    font-family: serif;
    font-weight: bold;
    color: #ebbac2;
}

h3{
    font-family: serif;
    font-weight: bold;
    color: #ebbac2;
}

.noticias{
    text-align: justify;
}

.paragrafo{
    text-align: justify;
    margin: 100px;
    border-left: 70px;
    border-right: 70px;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.afropaty{
    font: bold;
    color: #ebbac2;
    font-family: sans-serif;
}

a{
    font-family: serif;
    font-weight: bold;
    color: #ebbac2;
    font: size 5px; ;
}


p{
    font: bold;
    color: #ebbac2;
    font-family: sans-serif;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}